{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",

  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-dom(/.*)$",
    "",
    "^next*",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@(components|assets|views|/.*)?$",
    "",
    "^[./]",
    ""
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
